.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:40px;
    background:linear-gradient(90deg, #0F2027, #203A43, #2C5364);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
  
    .logo h2 {
      color:white;
      font-size: 1.7rem;
    }
  
    .nav-links {
      display: flex;
      gap: 20px;
  
      .inactive-link{
        text-decoration: none;
        color: white ;
        font-weight: bold;
        padding: 10px 15px;
        transition: background-color 0.3s ease;
        font-size: 1.2rem;
      }
      .inactive-link:hover{
        background-color: #e0e0e0;
        border-radius: 5px;
        color:black;
      }
      .active-link{
        font-size: 1.2rem;
        color: #FFC107;
        text-decoration: none;
        padding:10px 15px;
        font-weight: bold;
        /* // background-color:#D3D3D3; */
        transition:color 0.3s ease;
        /* // border-radius: 10px; */
      }
    }
}